/*  your css code here. If applicable */
#container{
	margin:20px;
	font-size:20px;
}

#container:before,#container:after{
	color:#f00;
}

#container:before{
	content:"Before Element";
}

#container:after{
	content:"After Element";
}